/* calculator styling */

button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

button{
    width: 100%;
}
.card{
    background-color: #c43c3c;
    color: white;
    border: 4px solid #471616;
}

/* removes padding */
.calc-btns {
    padding: 0;
}
/* number, operators, clear styling */

.nums, .mathOperators, .clear {
    background-color: #c43c3c;
    padding: 0;
    margin: 0;
    border: 2px solid #9b3030;
    transition-duration: .4s;
    cursor: pointer;
    color: #fff;
}
.nums:hover, .mathOperators:hover, .clear:hover{
    background-color: #812929;
}
/* output screen */
.output-field{
    float: right;
    margin-bottom: 10px;
    margin-top: -10px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    text-align: right;
    box-shadow: inset 0 0 7px;
    padding: 0 10px 0 0;
}
